*~
*.a
*.anjuta
*.la
*.lo
*.log
*.o
*.trs

config.*

.anjuta*
.deps
.dirstamp
.libs
aclocal.m4
autom4te.cache
build-aux
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
test-driver

/h264bitstream/h264_analyze
/h264bitstream/libh264bitstream.pc
/h264bitstream/libh264bitstream-uninstalled.pc
/h264bitstream/libh264bitstream-uninstalled.sh

/tslib/apps/ts_validate_mult_segment

/tests/check_tslib
